<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!-- Main Content Section -->

<main class ="container">
<div style="width:980px; margin-left:auto; margin-right:auto;" class ="jumbotron">
<!-- <h1  style="font family:copperplate class="display-4">Welcome to the <strong><%= title %></strong> page</h1> -->
</div>
</main>
<%- include('content/' + title + '.ejs');%>


<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>

